.navBarDiv {
  display: flex;
  flex-direction: row;
  height: 105px;
  border: solid 1px black;
  box-sizing: border-box;
  padding: 10px 40px 10px 20px;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 80px);
  margin: 20px 40px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #F8F2ED;
  z-index: 1000;

  h1 {
    margin: 0;
    padding: 0;
    font-size: 40px;
    white-space: nowrap;
  }

  h2 {
    text-indent: 100px;
    margin: 0;
    padding: 0;
    color: transparent;
    font-size: 30px;
    -webkit-text-stroke: 1px black;
    white-space: nowrap;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 40px;
    margin: 0;
    padding: 0;

    a {
      text-decoration: none;
      color: black;
      font-size: 20px;
    }

    a.active + div.navLinkAnnimation {
      &.down {
        transform: scaleX(1);
      }
    }

    li {
      position: relative;
      padding: 3px;

      &:hover {
        cursor: url("/public/images/cursors/cursorHover.png") 16 16, auto;

        div.navLinkAnnimation {
          &.down {
            transform: scaleX(1);
          }

          &.right {
            transform: scaleY(1);
          }

          &.up {
            transform: scaleX(1);
          }

          &.left {
            transform: scaleY(1);
          }
        }
      }

      div.navLinkAnnimation {
        transition: transform 0.1s;

        &.down {
          position: absolute;
          bottom: -15%;
          left: -10%;
          width: 120%;
          height: 1px;
          background-color: black;
          transform-origin: left;
          transform: scaleX(0);
        }

        &.right {
          position: absolute;
          top: -15%;
          left: 110%;
          width: 1px;
          height: 130%;
          background-color: black;
          transform-origin: bottom;
          transform: scaleY(0);
          transition-delay: 0.1s;
        }

        &.up {
          position: absolute;
          top: -15%;
          left: -10%;
          width: 120%;
          height: 1px;
          background-color: black;
          transform-origin: right;
          transform: scaleX(0);
          transition-delay: 0.2s;
        }

        &.left {
          position: absolute;
          top: -15%;
          left: -10%;
          width: 1px;
          height: 100%;
          background-color: black;
          transform-origin: top;
          transform: scaleY(0);
          transition-delay: 0.3s;
        }
      }

      &:not(:hover) div.navLinkAnnimation {
        &.down {
          transition-delay: 0.3s;
        }

        &.right {
          transition-delay: 0.2s;
        }

        &.up {
          transition-delay: 0.1s;
        }

        &.left {
          transition-delay: 0s;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .navBarDiv {
    justify-content: start;

    .burgerBTN {
      width: 60px;
      margin-right: 20px;
      position: relative;
      z-index: 1000;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        transform: scale(1.1);
      }
    }

    .pageSelect {
      position: fixed;
      top: 0;
      left: 0;
      background-color: #F8F2ED;
      width: 100%;
      height: 100%;
      padding-top: 150px;
      transform: translateX(-100%);
      transition: transform 0.5s;
      transition-delay: 0.6s;

      &.firstSpawn {
        transition-delay: 0s;
        transition: 0s;
      }

      &.open {
        transform: translateX(0);
        transition-delay: 0s;
      }

      ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 100px;

        li {
          transition: transform 0.5s;
          position: absolute;
          transform: translateX(-100vw);

          &.visible {
            transform: translateX(0);

            &.un {
              transition-delay: 0.2s;
            }

            &.deux {
              transition-delay: 0.4s;
            }

            &.trois {
              transition-delay: 0.6s;
            }
          }

          &.deux {
            top: 35%;
            left: 45%;
            transition-delay: 0.2s;

            a {
              font-weight: bold;
              font-size: 40px;
            }
          }

          &.un {
            top: 15%;
            left: 35%;
            transition-delay: 0.4s;

            a {
              font-size: 40px;
            }
          }

          &.trois {
            top: 55%;
            left: 30%;
            transition-delay: 0s;

            a {
              font-size: 30px;
            }
          }
        }
      }
    }

  }
}

@media (max-width: 600px) {
  .navBarDiv {
    h2 {
      text-indent: 0 !important;
    }
  }
}

@media (max-width: 500px) {
  .navBarDiv {
    h2 {
      display: none !important;
    }
    h1 {
      display: none !important;
    }
  }
}
